html {
    padding: 0;
    margin: 0;
    font-family: 'Zilla Slab', serif;
}

input {
    font-size: 1.3rem;
    font-family: 'Arima Madurai', cursive;
    padding: 8px;
    text-align: center;
}

input[type=checkbox] {
    transform: scale(1.6);
    margin-left: 20px;
}

.container {
    margin: 1% auto;
    text-align: center;
}

.initial_options, .option {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.initial_options {
    flex-direction: column;
}

.generated_passwords {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.password {
    background-color: #ccc;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    font-family: "Courier New";
}

.password span {
    padding: 10px;
}

.red {
    background-color: #fff;
    color: red;
}
