html {
  padding: 0;
  margin: 0;
  font-family: 'Zilla Slab', serif;
  text-align: center;
}

input, .description {
  width: 100%;
  font-size: 1.3em;
  font-family: 'Arima Madurai', cursive;
  padding: 8px;
  border: 2px solid #ccc;
  text-align: left;
  box-sizing: border-box;
}

input[type=checkbox] {
  transform: scale(1.6);
  margin-left: 20px;
}

table {
  margin: 20px auto;
}

textarea {
  position: absolute;
  right: 9999px;
}

.container {
  margin: 1% auto;
  text-align: center;
  width: 100%;
}

.generatedPasswords {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password {
  position: relative;
  background-color: #ccc;
  border-radius: 5px;
  cursor: pointer;
  word-break: break-all;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  font-family: "Courier New";

  span {
    padding: 10px;
  }
}

.red {
  position: absolute;
  left: 100%;
  top: -45%;
  width: 100px;
  padding: 0.9rem;
  margin: 1rem;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #ff0000;
  color: #eee;
}

@media only screen and (max-width: 700px) {
  body {
    font-size: 10px;
  }
}
